*{padding: 0; margin: 0;}

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: darkgoldenrod;
}

header nav{
    display: flex;
    align-self: center;
}

header ul{
    list-style-type: none;
	display: flex;
	gap: 10px;
	margin: 0;
    padding-right: 20px;
}

header h1{
    padding-left: 20px;
    color: white;
}

a {
	text-decoration: none;
}