*{padding: 0; margin: 0; font-family:Arial, Helvetica, sans-serif;}


/*vsechny stranky*/

/*hlavicka*/
header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    justify-content: space-between;

    background-color: darkgoldenrod;
    box-shadow: 0 2px 5px black;
    font-weight: bold;
}

header nav{
    display: flex;
    align-self: center;
}

header ul{
    list-style-type: none;
	display: flex;
	gap: 30px;
	margin: 0;
    padding-right: 20px;
}

header h1{
    padding-left: 20px;
    color: white;
}

header a {
	text-decoration: none;
}

header ul a{
    width: fit-content;
    height: fit-content;
    padding: 15px 30px;
    font-size: large;


    color: white;
    background-color: #98700b;
}

header ul a:hover{
    background-color: #88640a;
    box-shadow: 0 0px 5px black;
}

/*telo*/
body{
    background-color: rgb(105, 105, 65);
}

/*hlavni stranka*/

.hlavni-stranka{
    display: flex;
    height: fit-content;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    flex-wrap: wrap;

    align-content: flex-start;
    justify-content: center;

    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}

.hlavni-stranka h1{
    width: 100%;
    padding-top: 70px;

    font-size: xxx-large;
    text-align: center;
}

.hlavni-stranka p{
    padding: 20px 200px;
    padding-bottom: 300px;
    text-align: center;
    font-size: x-large;
}

/*o nas*/

.onas-hlavni{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    align-content: flex-start;
    justify-content: center;
    gap: 20px;
}

.onas-karty{
    display: flex;
    width: 100%;
    height: 500px;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: white;
}

.onas-karty img{
    height: 90%;
}

.onas-text{
    width: 50%;
    text-align: center;
    padding: 0 100px;
}

.onas-text h2{
    font-size: xxx-large;
    margin-bottom: 30px;
}

.onas-text p{
    font-size: x-large;
    margin-bottom: 50px;
}

.onas2 a{
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 20px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    border-radius: 20px;
    color: white;
    background-color: darkgoldenrod;
}

.onas2 a:hover{
    background-color: #88640a;
}

/*cenik*/

.cenik-horni, .kontakt-horni{
    height: fit-content;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding: 50px 0;

    border-radius: 30px;
    background-color: white;
}

.cenik-horni h1, .kontakt-horni h1{
    width: 100%;
    font-size: xxx-large;
    text-align: center;
}

.cenik-horni p, .kontakt-horni p{
    padding: 20px 200px;
    padding-bottom: 0;
    text-align: center;
    font-size: x-large;
}

.cenik-ceny{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    width: 70%;

    align-content: center;
    justify-content: center;

    gap: 20px;
}

.cenik-druhy{
    display: flex;
    height: fit-content;
    width: 23%;
    border-radius: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    gap: 20px;

    align-content: center;
    justify-content: center;

    background-color: white;
}

.cenik-druhy h2{
    text-align: center;
    padding-top: 20px;
    font-size: 32px
}

.cenik-druhy img{
    width: 90%;
}

.cenik-druhy p{
    text-align: center;
    font-size: 20px;
}

/*kontakt*/

.kontakt-hlavni{
    display: flex;
    height: fit-content;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 50px 50px;

    align-items: center;
    justify-content: space-around;

    border-radius: 30px;
    background-color: white;
}

.kontakt-hlavni img{
    height: 400px;
}

/*mensi*/
@media(max-width:1070px){

    .hlavni-stranka p{
        padding: 20px 100px;
        padding-bottom: 200px;
        text-align: center;
        font-size: x-large;
    }

    .cenik-druhy{
       width: 45%;
    }
}

/*mobil*/

@media(max-width:750px){

}